* {
  box-sizing: border-box;
  background-color: #F1EBCC;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #4A332B;
  height: 350px;
}

p {
  position: relative;
  margin-left: 475px;
  margin-top: 80px;
}

a {
  margin-left: 1050px;
  text-decoration: none;
  padding: 8px 16px;
}

a:hover {
  background-color: #AA7975;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}